<!-- start: USER PROFILE -->
<div class="container-fluid container-fullw bg-white">
	
	<div class="row">
		<div class="col-md-12">
			<div>
				<!-- start: USER TABSET -->
					<!-- start: TAB OVERVIEW -->
						<div class="row" ng-controller="ClubNewCtrl">

							<div class="col-md-12">
								<form role="form" name="Form" id="form">
							<fieldset>
								<legend>
									Club Info
								</legend>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}">	
											<label class="control-label">
												Name <span class="symbol required"></span>
											</label>
											<span class="input-icon">
												<input type="text" placeholder="Enter a Club Name" class="form-control" name="name" ng-model="club.name" required>
												<i class="fa fa-group"></i>
											</span>
											<span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$error.required">Name is required</span>
										</div>
										<div class="form-group">
											<label class="control-label">
												Email
											</label>
											<input type="text" placeholder="Enter a Club Email" class="form-control" name="email" ng-model="club.email">
										</div>
										<div class="form-group">
											<label class="control-label">
												Website
											</label>
											<input type="text" placeholder="Enter a Club Website" class="form-control" name="website" ng-model="club.website">
										</div>
										
									</div>
									<div class="col-md-6">

										<div class="form-group">
											<label class="control-label">
												Address
											</label>
											<input type="text" placeholder="enter your address" class="form-control" name="street" ng-model="club.address.street">
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label class="control-label">
														Zip Code
													</label>
													<input class="form-control" placeholder="enter a zip code" type="text" name="zipcode" ng-model="club.address.zipCode">
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<label class="control-label">
														City
													</label>
													<input class="form-control" placeholder="enter a city" type="text" name="city" ng-model="club.address.city">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label class="control-label">
														Province
													</label>
													<input class="form-control" placeholder="enter a province" type="text" name="zipcode" ng-model="club.address.province">
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<label class="control-label">
														Country
													</label>
													<input class="form-control" placeholder="enter a country" type="text" name="city" ng-model="club.address.country">
												</div>
											</div>
										</div>

									</div>
								</div>
							</fieldset>

							<div class="row">
								<div class="col-md-6 text-left">
									<button class="btn btn-primary" ng-click="saveClub()">Save</button>
								</div>
								<div class="col-md-6 text-right" >
									
								</div>
							</div>
							
						</form>
						
							</div>
							
						</div>
			
			</div>
		</div>
	</div>
</div>
<!-- end: USER PROFILE -->
