<!-- start: USER PROFILE -->
<div class="container-fluid container-fullw bg-white">
	
	<div class="row">
		<div class="col-md-12">
			<div>
				<!-- start: USER TABSET -->
					<!-- start: TAB OVERVIEW -->
						<div class="row" ng-controller="EventNewCtrl">
							<div class="col-md-12">
								<form role="form" name="Form" id="form">
							<fieldset>
								<legend>
									Event Info
								</legend>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group" ng-class="{'has-error':Form.title.$dirty && Form.title.$invalid, 'has-success':Form.title.$valid}">	
											<label class="control-label">
												Title <span class="symbol required"></span>
											</label>
											<input type="text" placeholder="Enter a Event Title" class="form-control" name="title" ng-model="event.name" required>
											<span class="error text-small block" ng-if="Form.title.$dirty && Form.title.$error.required">Title is required</span>
										</div>
										<div class="form-group">
											<label class="control-label">
												Description
											</label>
											<textarea placeholder="Desctiption Text" name="text" ng-model="event.text" id="form-field-22" class="form-control" rows="10"></textarea>
										</div>
																				
									</div>
									<div class="col-md-6">

										
									<div class="form-group">
										<label>Start <span class="symbol required"></span></label>
										<span class="input-icon">
											<input type="text" class="form-control underline" ng-click="startOpen = !startOpen" uib-datepicker-popup="fullDate" ng-model="event.startDate" is-open="startOpen" ng-init="startOpen = false" max-date="event.endDate" close-text="Close" />
											<i class="ti-calendar"></i> 
										</span>
										<uib-timepicker ng-model="event.startDate" show-meridian="true" ng-show="!event.allDay"></uib-timepicker>
									</div>

									<div class="form-group">
										<label>End</label>
										<span class="input-icon">
											<input type="text" class="form-control underline" ng-click="endOpen = !endOpen" uib-datepicker-popup="fullDate" ng-model="event.endDate" is-open="endOpen" ng-init="endOpen = false" min-date="event.startDate" close-text="Close" />
											<i class="ti-calendar"></i> 
										</span>
										<uib-timepicker ng-model="event.endDate" show-meridian="true" ng-show="!event.allDay"></uib-timepicker>
									</div>



										

									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										

			<div nv-file-drop="" uploader="uploader" >
				<div class="row">
					<div class="col-md-3">
						<h5>Select image</h5>
						<div class="panel panel-white">
							<div class="panel-body">
								<div ng-show="uploader.isHTML5">
									<!-- 3. nv-file-over uploader="link" over-class="className" -->
									
								</div>
								<span class="btn btn-primary btn-o btn-file"> Select Image
									<input type="file" nv-file-select="" uploader="uploader" />
								</span>
								<br/>
							</div>
						</div>
					</div>
					<div class="col-md-9 file-upload" style="margin-bottom: 40px">
						<h4>Queue</h4>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th width="50%">Name</th>
										<th ng-show="uploader.isHTML5">Size</th>
										<th ng-show="uploader.isHTML5">Progress Loading</th>
										<th>State</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in uploader.queue">
										<td><strong>{{ item.file.name }}</strong>
										<!-- Image preview -->
										<!--auto height-->
										<!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
										<!--auto width-->
										<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
										<!--fixed width and height -->
										<!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
										</td>
										<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
										<td ng-show="uploader.isHTML5">
										<div class="progress progress-xs margin-bottom-0">
											<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
										</div></td>
										<td class="text-center">
											<span ng-show="item.isUploading"><i class="fa fa-spinner"></i></span>
											<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
											<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
											<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span></td>
										<td nowrap>
										<button type="button" class="btn btn-primary btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
											<span class="glyphicon glyphicon-upload"></span> Upload
										</button>
										<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
											<span class="glyphicon glyphicon-ban-circle"></span> Cancel
										</button>
										<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
											<span class="glyphicon glyphicon-trash"></span> Remove
										</button></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div>
							<div>
								Progress queue:
								<div class="progress progress-xs margin-top-5 margin-bottom-20">
									<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
								</div>
							</div>
							<button type="button" class="btn btn-primary btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
								<span class="glyphicon glyphicon-upload"></span> Upload all
							</button>
							<button type="button" class="btn btn-primary btn-o btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
								<span class="glyphicon glyphicon-ban-circle"></span> Cancel all
							</button>
							<button type="button" class="btn btn-primary btn-o btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
								<span class="glyphicon glyphicon-trash"></span> Remove all
							</button>
						</div>
					</div>
				</div>
			</div>


									</div>
								</div>
							</fieldset>

							<div class="row">
								<div class="col-md-6 text-left">
									<button class="btn btn-primary" ng-click="saveEvent()">Save</button>
								</div>
								<div class="col-md-6 text-right" >
									
								</div>
							</div>
							
						</form>
						
							</div>
							
						</div>
			
			</div>
		</div>
	</div>
</div>
<!-- end: USER PROFILE -->
